[run]
# Diz ao coverage qual pasta mapear
source = app

# Diz ao coverage o que IGNORAR
omit =
    app/tests/*
    app/scripts/*
    *__init__.py

[report]
# Mostra as linhas exatas que faltam testar no terminal
show_missing = True
# Ignora arquivos que já estão 100% testados para limpar o log
skip_covered = False