@import "tailwindcss";


@layer base {
    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;

        /* Renderização de fonte otimizada */
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply bg-slate-50 text-slate-900 min-h-screen;
    }
}

/* Customização da Barra de Rolagem */
@layer utilities {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-slate-300 rounded-full;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-400;
    }
}